<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="lombok.eclipse.refactoring.LombokRefactoringContribution"
            id="lombok.eclipse.refactoring.tolombok">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="lombok.eclipse.refactoring.contribution"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <action
               class="lombok.eclipse.actions.LombokRefactorAction"
               id="lombok.eclipse.refactoring.tolombok"
               label="%refactor.action.label"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
               style="push">
         </action>
      </objectContribution>
   </extension> 
</plugin>
